.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.code-box {
	position: absolute;
    right: 40px;
    top: 40px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.ibox-content {
   padding-top: 25px;
}
.button-group {		
	position: absolute;    	
	top: 30px;    	
	right: 50px;
}
.panel-body {
	padding-top: 25px !important;
	min-height: 590px;
}



