.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.code-box {
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
    margin-bottom: 20px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.ibox-content {	
	padding-top: 25px;
}
.button-group {		
	position: absolute;    	
	top: 30px;    	
	right: 50px;
}
.text-control {
    background-color: #ffffff;
    background-image: none;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control[disabled] {
    background-color: #fff;
}





