.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.panel-body {
	min-height: 500px;
	padding-top: 35px !important;
}
.code-box {
	position: absolute;
    right: 40px;
    top: 40px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.table-product {
	margin-top: 100px;
}
.code-box {
	position: absolute;
    right: 40px;
    top: 40px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
input[name="customer_name"] {
    border: 5px solid #1ab394;
    height: 42px;
}
.label-customer {
    padding-top: 12px !important;
}
.note-editor .panel-body {
	padding: 10px !important;
	min-height: 250px !important;	
}	
.note-editor.note-frame {
    border: none !important;
}
.note-editor.note-frame .note-statusbar {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.note-editor .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.note-editable.panel-body {
	color: #555 !important;
	padding: 10px !important;
}





