a {
	color: #676a6c;
}
a:focus, a:hover {
    color: #444444;
}
.limit-select {
	width: 70px;
	margin-bottom: 5px;
    font-weight: 700;
}
.filter-td {
}
.filter-input {
	border: none;
	line-height: 20px;		
	width: 100%;
}
.filter-select {
	width: 100%;
}
input:focus {
	outline:0;
}
.pagination {
	margin: 0;
}
.pagination-block {
	min-height: 33px;
}
.btn-print {
	margin-right: 8px;
}
.btn-edit {
	margin-right: 8px;
}
.btn-add {
    position: absolute;
    top: 30px;
    right: 50px;
}
.page-heading {
	position: relative;
}
.pagination {
	margin: 0px;
}
.detail {
	width: 330px;
    left: 100px;
    background: #ffffff;
    position: absolute;
    display: none;
    padding: 20px 15px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.detail table {
	margin-bottom: 0px;
}
.tracking {
	background: #23c6c8;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.pending {
    font-size: 9px;
    background: #f5e14d;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.completed {
    font-size: 9px;
    background: #3bbf7c;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.name {
    font-size: 9px;
    background: #1ab394;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	float: left;
	margin-top: 1px;
}
.store {
    font-size: 9px;
    background: #9d80ca;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	margin-right: 5px;
}
.shipping {
    font-size: 9px;
    background: #178bd2;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	margin-right: 5px;
}






