.ibox-content {    
	padding-top: 25px;
}
.btn-submit {	
	margin-right: 6px;
}
.page-heading {	
	position: relative;
}
.button-group {	
	position: absolute;    
	top: 30px;    
	right: 50px;
}
.panel-body {
	min-height: 390px;
	padding-top: 25px !important;
}






