.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.panel-body {
	min-height: 590px;
	padding-top: 25px !important;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.form-control[disabled] {
    background-color: #fff;
}
