.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.btn-print {
	margin-right: 6px;
}
.btn-label {
	margin-left: 25px;
}
.btn-commit {
	margin-right: 6px;
}
.btn-print {
	background: #f5e14d;
    border-color: #f5e14d;
	color: #fff;
	margin-right: 6px;
}
.btn-download {
	margin-left: 6px;
}
.btn-print:hover,
.btn-print:focus,
.btn-print:active,
.btn-print.active,
.btn-print:active:focus,
.btn-print:active:hover,
.btn-print.active:hover,
.btn-print.active:focus {
  color: #fff;
}
.btn-gen {
	margin-right: 4px;
}
.tab-pane > .panel-body {
	min-height: 650px;
	padding-top: 25px !important;
}
.code-box {
	position: absolute;
    right: 22px;
    top: 30px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
#sale-product {
	margin-top: 95px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.button-group-checkout {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.label-img {	
    width: 220px;
    display: block;
    border: 1px solid #dedede;
    margin: 0 auto;
}
input[name=customer_name] {    
	border: 5px solid #1ab394;
    height: 42px;
} 
.note-editor .panel-body {
	min-height: 250px !important;	
}	
.note-editor.note-frame {
    border: none !important;
}
.note-editor.note-frame .note-statusbar {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.note-editor .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.label-customer {
	padding-top: 12px !important;
}
.unsolved {
    font-size: 9px;
    background: #ff4f09;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	position: absolute;
	bottom: 3px;
}
.checking-out {
    font-size: 9px;
    background: #f5e14d;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	position: absolute;
	bottom: 3px;
}
.completed {
    font-size: 9px;
    background: #3bbf7c;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	position: absolute;
	bottom: 3px;
}
.page-heading h2 {
	position: relative;
}#btn-sync {	cursor:pointer;	background-color: #18a689;    border-color: #18a689;    color: #FFFFFF;}


