a {
	color: #676a6c;
}
a:focus, a:hover {
    color: #444444;
}
.limit-select {
	width: 70px;
	margin-bottom: 5px;
    font-weight: 700;
}
.filter-td {
}
.filter-input {
	border: none;
	line-height: 20px;		
	width: 100%;
}
.filter-select {
	width: 100%;
}
input:focus {
	outline:0;
}
.pagination {
	margin: 0;
}
.pagination-block {
	min-height: 33px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.btn-print {
	margin-right: 8px;
}
.btn-checkout {
	margin-right: 8px;
}
.btn-checkout-disable {
	margin-right: 8px;
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}
.btn-checkout-disable:hover, 
.btn-checkout-disable:focus, 
.btn-checkout-disable:active, 
.btn-checkout-disable.active, 
.open .dropdown-toggle.btn-checkout-disable, 
.btn-checkout-disable:active:focus, 
.btn-checkout-disable:active:hover, 
.btn-checkout-disable.active:hover, 
.btn-checkout-disable.active:focus {
	background-color: #b7b7b7;
    border-color: #b7b7b7;
}
.btn-edit {
	margin-right: 4px;
}
.btn-print-d {
	margin-right: 4px;
}
.btn-print-c {
	margin-right: 4px;
	background: #f5e14d;
}
.btn-print-c:hover, 
.btn-print-c:focus, 
.btn-print-c:active, 
.btn-print-c {
	color: #fff;
}
.btn-bulk-print {
	margin-right: 8px;
}
.btn-download {	
	margin-right: 5px;
}
.btn-pdf-download {	
	margin-right: 5px;
}
.page-heading {
	position: relative;
}
.pagination {
	margin: 0px;
}
.detail {
	width: 430px;
    left: 100px;
    background: #ffffff;
    position: absolute;
    display: none;
    padding: 20px 15px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.trac-detail {
	width: 400px;
	height: 100px;
    background: #ffffff;
    position: absolute;
	left: 33%;
    padding: 20px 15px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 100;
}
.trac-spin {
	line-height: 60px;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.detail table {
	margin-bottom: 0px;
}
.tracking {
	background: #23c6c8;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.pending {
    font-size: 9px;
    background: #f5e14d;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.completed {
    font-size: 9px;
    background: #3bbf7c;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
}
.name {
    font-size: 9px;
    background: #1ab394;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	float: left;
	margin-top: 1px;
}
.store {
    font-size: 9px;
    background: #9d80ca;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	margin-right: 5px;
}
.shipping {
    font-size: 9px;
    background: #178bd2;
    color: #fff;
    border-radius: 2px;
    padding: 4px 5px;
	margin-right: 5px;
}
.checkout-status {	
	font-size: 10px;
    color: #fff;
    padding: 5px 0px;
    border-radius: 3px 0px 0px 3px;
    display: inline-block;
    width: 80px;
    text-align: center;
}
.unsolved {	
    background: #ff4f09;
}
.checking-out {	
    background: #f5e14d;
}
.completed {	
    background: #3bbf7c;
}
.btn-reverse {
    padding: 4px 7px;
    background: #fff;
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
}
.table-shipping {
	margin-top: 15px;
}
.alert-success {
    width: 200px;
    margin: 0 auto;
}
.table-sale {
	min-width: 1500px;
}





