.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.panel-body {
	min-height: 500px;
	padding-top: 35px !important;
}
.code-box {
	position: absolute;
    right: 40px;
    top: 40px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.table-product {
	margin-top: 100px;
}
.code-box {
	position: absolute;
    right: 40px;
    top: 40px;
    width: 500px;
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    line-height: 25px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}





