.tabs-container .tab-pane .panel-body {
    min-height: 600px;
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.tabs-container .panel-body {
	padding-top: 35px !important;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.page-heading {
	position: relative;
}







