a {
	color: #676a6c;
}
a:focus, a:hover {
    color: #444444;
}
.limit-select {
	width: 70px;
	margin-bottom: 5px;
    font-weight: 700;
}
.filter-td {
}
.filter-input {
	border: none;
	line-height: 20px;
	width: 100%;
}
.filter-select {
	width: 100%;
}
input:focus {
	outline:0;
}
.pagination-block {
	min-height: 33px;
}
.pagination {
	margin: 0px;
}
.button-group {
	min-height: 34px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.btn-edit {
   margin-right: 8px;
}
.page-heading {
	position: relative;
}
.alert-success {
    width: 200px;
    margin: 0 auto;
}
.table-store {
	min-width: 1500px;
}





