a {
	color: #676a6c;
}
a:focus, a:hover {
    color: #444444;
}
.limit-select {
	width: 70px;
	margin-bottom: 5px;
    font-weight: 700;
}
.filter-td {
}
.filter-input {
	border: none;
	line-height: 20px;
}
.filter-select {
	width: 100%;
}
input:focus {
	outline:0;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.page-heading {
	position: relative;
}
.btn-delete {
	margin-left: 5px;
}
.btn-add {	
	margin-right: 5px;
}
.btn-edit {	
	margin-right: 5px;
}
.btn-download {	
	margin-right: 5px;
}
.pagination-block {
	min-height: 33px;
}
.pagination {
	margin: 0px;
}
button.close {
	top: 15px;
	right: 15px;  
	position: absolute;
}
.alert {
	position: relative;
}
.detail {
	width: 350px;
    left: 100px;
    background: #ffffff;
    position: absolute;
    display: none;
    padding: 20px 15px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.detail table {
	margin-bottom: 0px;
}




