.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.button-group {	
	position: absolute;    
	top: 30px;    
	right: 50px;
}
.panel-body {
	padding-top: 25px !important;
	min-height: 600px;
}
.form-control[disabled] {
    background-color: #fff;
}



