.page-heading {
	position: relative;
}
.btn-print {
	margin-right: 6px;
}
.code-box {
    padding: 10px;
    background: #1ab394;
    border-radius: 2px;
    margin-bottom: 20px;
}
.code-box input {
	width: 100%;
    border-radius: 2px;
    font-size: 32px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-weight: bold;
}
.ibox-content {	
	padding-top: 25px;
}
.button-group {		
	position: absolute;    	
	top: 30px;    	
	right: 50px;
}
.text-control {
    background-color: #ffffff;
    background-image: none;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control[disabled] {
    background-color: #fff;
}

table {
    font-size: 16px;
}
.form-horizontal .control-label {
	padding-top: 10px;
	font-size: 16px;
}
.form-control, .single-line {
	font-size: 16px;
    height: 40px;
}
.alert {
	position: relative;
	font-size: 16px;
}
.alert p {
	margin: 0px;
}
button.close {
	top: 15px;
    right: 15px;
	position: absolute;
}
input[name=code]::-webkit-input-placeholder {
color: #b7b7b7 !important;
}
 
input[name=code]:-moz-placeholder { /* Firefox 18- */
color: #b7b7b7 !important;  
}
 
input[name=code]::-moz-placeholder {  /* Firefox 19+ */
color: #b7b7b7 !important;  
}
 
input[name=code]:-ms-input-placeholder {  
color: #b7b7b7 !important;  
}




