.page-heading {
	position: relative;
}
.btn-submit {
	margin-right: 6px;
}
.ibox-content {
    padding-top: 22px;
}
.button-group {
	position: absolute;
    top: 30px;
    right: 50px;
}
.form-control[disabled] {
    background-color: #fff;
}

