.panel-body {
	min-height: 320px;
	padding-top: 25px !important;
}
.but-content {
	padding-top: 22px;
	clear: both;
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0;
}.btn-submit {	margin-right: 6px;}.button-group {			position: absolute;    		top: 30px;    		right: 50px;}

